* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
:root {
  --main-color: #458ff6;
  --title-color: #000000;
  --text-color: #7d7987;
  --alt-text-color: #ffffff;
  --h1-size: 48px;
  --h2-size: 36px;
  --h3-size: 24px;
  --h4-size: 20px;
  --text-size: 18px;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

header .continer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  position: relative;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--alt-text-color);
  z-index: 100;
}
header .continer h1 {
  font-size: 30px;
}
header .continer h1 span {
  display: inline-block;
  margin-right: 7px;
  padding: 5px 10px;
  width: 40px;
  height: 40px;
  color: var(--alt-text-color);
  background-color: var(--main-color);
  border-radius: 50%;
}
header .continer nav ul {
  display: none;
}
header .continer nav ul li {
  padding: 7px;
  border-bottom: 1px solid var(--text-color);
  text-align: start;
}
header .continer nav ul li a {
  color: var(--alt-text-color);
}
header .continer nav label,
header .continer nav input {
  cursor: pointer;
  appearance: none;
}
header .continer nav input:checked + ul {
  display: block;
  position: absolute;
  padding: 5px;
  background-color: #458ff6;
  border-radius: 5px;
}
@media (max-width: 550px) {
  header .continer nav ul {
    right: 30px;
  }
}
@media (max-width: 400px) {
  header .continer nav ul {
    right: 10px;
  }
}
@media (min-width: 992px) {
  header .continer nav ul {
    display: flex;
  }
  header .continer nav ul li a {
    color: var(--text-color);
  }
  header .continer nav ul li {
    border: none;
    padding-right: 15px;
  }
  header .continer nav label,
  header .continer nav input {
    display: none;
  }
}
.hero .continer {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 100px;
}
.image-element {
  position: absolute;
  top: 130px;
  left: -30px;
  z-index: -1;
}
.hero .continer .content h2 {
  font-size: var(--h1-size);
  letter-spacing: 2px;
}
.hero .continer .content p {
  font-size: var(--text-size);
  padding: 20px 0px;
  color: var(--text-color);
}
.hero .continer .content input {
  width: 150px;
  height: 40px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  transition: 0.5s;
  color: var(--alt-text-color);
  background-color: var(--main-color);
}
.hero .continer .content input:hover {
  background-color: #458ff638;
  color: var(--title-color);
}
.hero .continer .img img {
  width: 400px;
}
@media (max-width: 992px) {
  .hero .continer .content h2 {
    font-size: var(--h2-size);
  }
  .hero .continer .img img {
    width: 300px;
  }
}
@media (max-width: 500px) {
  .hero .continer {
    padding: 100px 40px;
  }
  .hero .continer .content h2 {
    font-size: 32px;
  }
  .hero .continer .img img {
    width: 300px;
  }
  .hero .continer .content p {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .hero .continer .content h2 {
    font-size: 23px;
    padding: 0;
  }
  hero .continer .content p {
    font-size: 13px;
  }
  .hero .continer .img img {
    margin-top: 10px;
    width: 200px;
  }
}
.h2-center h2 {
  text-align: center;
  position: relative;
  font-size: var(--h2-size);
  padding: 20px;
}
.h2-center h2::after {
  content: "____";
  position: absolute;
  left: 50px;
  right: 50px;
  margin: 15px;
}
.services .continer .p-services {
  padding: 30px 0px;
  color: var(--text-color);
  font-size: var(--text-size);
  text-align: center;
}
.services .continer .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(../images/blob-1.webp);
  background-repeat: no-repeat;
  background-position: left top;
}
.services .continer .content div {
  padding: 20px;
  margin: 10px;
  width: 320px;
  height: 350px;
  border-radius: 10px;
  background-color: var(--alt-text-color);
  box-shadow: 0px 0px 10px #00000025;
}
.services .continer .content div img {
  padding: 20px;
}
.services .continer .content div h3 {
  font-size: var(--h3-size);
  padding: 20px 0px;
}
.services .continer .content div p {
  color: var(--text-color);
  line-height: 25px;
}
